<div class="box-content">
    <div class="content">
        <div class="row">
            <div class="col-md-6">
            	Your income
			</div>
			<div class="col-md-6">
				Your Expense
			</div>
		</div>
	</div>
</div>