
<h3 class="page-title">Category</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <%= link_to "Home", :controller => "administrator/category", :action => "index" %>
            &nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;
        </li>
        <li>
            <a href="#">Category</a>
            <i class="fa fa-angle-right"></i>
            </li>
        <li>
        <a href="#">Edit</a>
        </li>
    </ul>
</div>

<div class="portlet box green">
	<div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>
            Edit Category
        </div>
    </div>
							
	                     	<div class="portlet-body form">
	                     		<%= form_for @category,url: {action: "update"} do |f| %>
	                     		<div class="form-body">
								  <div class="form-group" style="text-align:left">
								    <label for="category name" style="text-align:left">Name</label>
								    <%= text_field(:category, :name,class:"form-control",placeholder:"Name") %>
								  </div>
								  <div class="form-group">
								  	<div class="radio-list">
								  		<% if (@category.tipe==1) %>
								  		<label>
										<div class="radio"><input type="radio" value="1" name="category[tipe]" checked></div>
										Income </label>
										<label>
										<div class="radio"><input type="radio" value="2" name="category[tipe]"></div>
										Expense </label>
								  		<% else %>
								  		<label>
										<div class="radio"><input type="radio" value="1" name="category[tipe]"></div>
										Income </label>
										<label>
										<div class="radio"><input type="radio" value="2" name="category[tipe]" checked></div>
										Expense </label>
								  		<% end %>
										
									</div>
								  </div>
								  <div class="form-group">
								    <label for="Category">Color</label>
								    <%= text_field(:category, :color,class:"form-control",placeholder:"Color") %>
								    
								  </div>

								</div>
								  <div class="form-actions">
								  	<input type="submit" class="btn btn-primary" value="Edit"> 
								  	<a href="/administrator/category" class="btn back-cancel default">Cancel</a>
								  </div>
								<% end %>
	                     	</div>
                     	
</div><!-- Portlet -->					
						       