<!-- BEGIN PAGE HEADER-->
	<h3 class="page-title">Blank Page <small>blank page</small></h3>
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<i class="fa fa-home"></i>
					<a href="index.html">Home</a>
					<i class="fa fa-angle-right"></i>
				</li>
				
				<li>
					<a href="#">Dashboard</a>
					</li>
			</ul>
			
		</div>
		<!-- END PAGE HEADER-->
		<!-- BEGIN PAGE CONTENT-->
		<div class="row">
			<div class="col-md-12">
				 Dashboard
			</div>
		</div>
<!-- END PAGE CONTENT-->