        <section id="page-title">

            <div class="container clearfix">
                <h1>About</h1>
                <span>More about us</span>
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">About</li>
                </ol>
            </div>

        </section>

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">
                    <div class=" nobottommargin">

                        <h3>About Us</h3>
                        <p>Okane is a web based money expense manager app. It can track and record both your income and expense. We build this app in the middle of 2015 in a small room in Fukuoka city Japan. Our mission is to help people to save their money. This can be done by automating all steps of the expense management process. We make it possible to manage all daily expenditures without long and expensive implementation costs.</p>
                    </div>
                </div>

                <div class="section footer-stick">

                    <h4 class="uppercase center">What <span>Clients</span> Say?</h4>

                    <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
                        <div class="flexslider">
                            <div class="slider-wrap">
                                <div class="slide">
                                    <div class="testi-image">
                                        <a href="#">
                                            <%= image_tag("dana.jpg",:alt => "Dana Testimoial") %>
                                        </a>
                                    </div>
                                    <div class="testi-content">
                                        <p>Great app to track my expense and start saving my money</p>
                                        <div class="testi-meta">
                                            Perdana Adhitama
                                            <span>kovloq.com</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="testi-image">
                                        <a href="#">
                                            <%= image_tag("lutfi.jpg",:alt => "Lutfi Testimoial") %>
                                        </a>
                                    </div>
                                    <div class="testi-content">
                                        <p>Great app as always</p>
                                        <div class="testi-meta">
                                            Lutfiana Sari Ariestien
                                            <span>Fukuoka</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="testi-image">
                                        <a href="#">
                                            <%= image_tag("1.jpg",:alt => "Your Testimoial") %>
                                        </a>
                                    </div>
                                    <div class="testi-content">
                                        <p>Reserved for you</p>
                                        <div class="testi-meta">
                                            You
                                            <span>you</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
