<!-- Begin Contact Page -->
<section class="section-content section-parallax" id="contact">
    <div class="bg-overlay pattern">
        <div class="container">
            <div class="row mbxxl">
                <div class="col-lg-12"><h2 class="section-heading">Contact</h2>

                    <div class="line dark">
                        <div class="dot"></div>
                    </div>
                    <p class="section-description"><strong>Design</strong> is the conscious <strong>effort</strong> to
                        <strong>impose</strong> a <strong>meaningful</strong> order.</p></div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="box">
                        <div class="box-icon"><i class="fa fa-map-marker"></i></div>
                        <div class="box-title">Office<br>Location</div>
                        <div class="box-desc">574 New London Turnpike, England</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="box">
                        <div class="box-icon"><i class="fa fa-phone"></i></div>
                        <div class="box-title">Call<br>Us</div>
                        <div class="box-desc">+84 (0) 123 456 78</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="box">
                        <div class="box-icon"><i class="fa fa-envelope"></i></div>
                        <div class="box-title">Send<br>Email</div>
                        <div class="box-desc">okanemanager@gmail.com</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="box">
                        <div class="box-icon"><i class="fa fa-globe"></i></div>
                        <div class="box-title">Follow<br>Us</div>
                        <div class="box-desc">
                            <a class="mrl" href="https://www.pinterest.com/okanemanager/"><i class="fa fa-pinterest"></i></a>
                            <a class="mrl" href="https://www.facebook.com/okanemanager"><i class="fa fa-facebook"></i></a>
                            <a class="mrl" href="https://twitter.com/okanemanager"><i class="fa fa-twitter"></i></a>
                            <a class="mrl" href="https://plus.google.com/u/1/115652349374795853751/"><i class="fa fa-google-plus"></i></a>
                            <a class="mrl" href="#"><i class="fa fa-linkedin"></i></a>
                            <a class="mrl" href="#"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <form action="#">
                <div class="row">
                    <div class="col-md-4"><input type="text" class="input-lg form-control" placeholder="Name"></div>
                    <div class="col-md-4"><input type="text" class="input-lg form-control" placeholder="Email"></div>
                    <div class="col-md-4"><input type="text" class="input-lg form-control" placeholder="Phone"></div>
                    <div class="col-md-12 mtxl"><textarea class="input-lg form-control" placeholder="Message" rows="10"></textarea></div>
                    <div class="col-md-2 col-md-offset-5 mtxl"><input type="submit" class="btn btn-lg btn-outlined" value="Submit Message"></div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- End Contact -->