<section id="slider" class="slider-parallax" data-height-lg="600" data-height-md="500" data-height-sm="400" data-height-xs="300" data-height-xxs="250">
    <div class="container clearfix">
        <div class="vertical-middle dark center">

            <div class="heading-block nobottommargin center">
                <h1>
                    <span class="text-rotater " data-separator="|" data-rotate="flipInX" data-speed="3500">
                                Okane makes your expense <span class="t-rotate">Trackable|Easy|Recordable</span>
                    </span>
                </h1>
            <span class="hidden-xs">Learn how to save your money.</span>
            </div>
                <%= link_to({:controller=>"home",:action=>"benefits"},:class=>"button button-border button-light button-rounded button-reveal tright button-large topmargin hidden-xs") do %>
                    <i class="icon-angle-right"></i><div>Start Tour</div>
                <% end %>
                

        </div>
    </div>
</section>
<!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div class="col_one_third">
                        <div class="feature-box fbox-border fbox-effect">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-screen i-alt"></i></a>
                            </div>
                            <h3>Responsive Layout</h3>
                            <p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
                        </div>
                    </div>

                    <div class="col_one_third">
                        <div class="feature-box fbox-border fbox-effect">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-line-file i-alt"></i></a>
                            </div>
                            <h3>Export your expenses</h3>
                            <p>Export your expenses to see how much money that you've spend.</p>
                        </div>
                    </div>

                    <div class="col_one_third col_last">
                        <div class="feature-box fbox-border fbox-effect">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-line2-social-facebook i-alt"></i></a>
                            </div>
                            <h3>Social Media Login</h3>
                            <p>Login with your favourite social media Facebook, Twitter or Google Plus.</p>
                        </div>
                    </div>

                    <div class="clear"></div>

                    <div class="col_one_third">
                        <div class="feature-box fbox-border fbox-effect">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-line-head i-alt"></i></a>
                            </div>
                            <h3>Free</h3>
                            <p>Join our app for free.</p>
                        </div>
                    </div>

                    <div class="col_one_third">
                        <div class="feature-box fbox-border fbox-effect">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-graph i-alt"></i></a>
                            </div>
                            <h3>Graph View</h3>
                            <p>Graph view available.</p>
                        </div>
                    </div>

                    <div class="col_one_third col_last">
                        <div class="feature-box fbox-border fbox-effect">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-bell-alt i-alt"></i></a>
                            </div>
                            <h3>Alert</h3>
                            <p>Get alerts when you exceed your budget.</p>
                        </div>
                    </div>

                     <div class="clear"></div>

                </div>

                <div class="promo topmargin-lg promo-border promo-full">
                    <div class="container clearfix">
                        <h5>Join now or take a look at benefits</h5>
                        <div class="clear"></div>
                        <%= link_to "Join",new_member_registration_path,{:style=>"width:47%",:class=>"pull-left btn btn-success btn-lg button-xlarge button-rounded"} %>
                        
                        <%= link_to "See Benefits",home_benefits_path,{:style=>"width:47%",:class=>"pull-right btn btn-primary btn-lg button-xlarge button-rounded"} %>
                        
                    </div>
                </div>
            </div>
        </section>