
<!-- Begin Contact Page -->
<section class="section-content section-parallax" id="contact">
    <div class="bg-overlay pattern">
        <div class="container">
            <div class="row mbxxl">
                <div class="col-lg-12"><h2 class="section-heading">Contact</h2>

                    <div class="line dark">
                        <div class="dot"></div>
                    </div>
                    <p class="section-description"><strong>Design</strong> is the conscious <strong>effort</strong> to
                        <strong>impose</strong> a <strong>meaningful</strong> order.</p></div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="box">
                        <div class="box-icon"><i class="fa fa-map-marker"></i></div>
                        <div class="box-title">Office<br>Location</div>
                        <div class="box-desc">574 New London Turnpike, England</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="box">
                        <div class="box-icon"><i class="fa fa-phone"></i></div>
                        <div class="box-title">Call<br>Us</div>
                        <div class="box-desc">+84 (0) 123 456 78</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="box">
                        <div class="box-icon"><i class="fa fa-envelope"></i></div>
                        <div class="box-title">Send<br>Email</div>
                        <div class="box-desc">okanemanager@gmail.com</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="box">
                        <div class="box-icon"><i class="fa fa-globe"></i></div>
                        <div class="box-title">Follow<br>Us</div>
                        <div class="box-desc">
                            <a class="mrl" href="https://www.pinterest.com/okanemanager/"><i class="fa fa-pinterest"></i></a>
                            <a class="mrl" href="https://www.facebook.com/okanemanager"><i class="fa fa-facebook"></i></a>
                            <a class="mrl" href="https://twitter.com/okanemanager"><i class="fa fa-twitter"></i></a>
                            <a class="mrl" href="https://plus.google.com/u/1/115652349374795853751/"><i class="fa fa-google-plus"></i></a>
                            <a class="mrl" href="#"><i class="fa fa-linkedin"></i></a>
                            <a class="mrl" href="#"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alert alert-success alert-dismissible" role="alert" style="display:none">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              Your message has been sent.
            </div>
          
            <%= form_tag('home/contact', remote: true, id:"myform") do |f| %>
    
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input name="contact[name]" type="text" class="input-lg form-control" placeholder="Name" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                        <input name="contact[email]" type="email" class="input-lg form-control" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                        <input type="text" name="contact[phone]" class="input-lg form-control" placeholder="Phone" required>
                        </div>
                    </div>
                    <div class="col-md-12 mtxl">
                        <div class="form-group">
                        <textarea name="contact[message]" class="input-lg form-control" placeholder="Message" rows="10" required>
                        </textarea>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-5 mtxl"><input type="submit" name="submit" class="btn btn-lg btn-outlined" value="Submit Message"></div>
                </div>
            <% end %>
        </div>
    </div>
</section>
<!-- End Contact -->
<script>
$(document).ready(function(){
$('#myform').on('ajax:success', function(data, status, error) {
    $(".alert-success").show();
    });
})
</script>
<!-- Registration Modal -->
<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="modal-default-label"
                             aria-hidden="true" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Register</h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="form-group">
                <label for="currency">Currency</label>
                <select class="form-control">
                    <option value="">Select Currency</option>
                </select>
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <select class="form-control">
                    <option value="">Select Country</option>
                </select>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Register</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- End Registration Modal -->