<div class="page-title-breadcrumb">
	<div class="page-header pull-left">
		<div class="page-title">FAQ</div>
	</div>
	<ol class="breadcrumb page-breadcrumb hidden-xs">
        <li><i class="fa fa-home"></i>&nbsp;
        	<%= link_to "Home", :controller => "user/faq", :action => "show" %>
        	&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">FAQ</li>
       
    </ol>
</div>


<div class="box-content">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
			</div>
		</div>
	</div>
</div>