<h3 class="page-title">Setting</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <%= link_to "Home", :controller => "user/home", :action => "index" %>
            &nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;
        </li>
        
        <li>
        <a href="#">Settng</a>
        </li>
    </ul>
</div>



<div class="box-content">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
			</div>
		</div>
	</div>
</div>